<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D72020</string>
		<key>pipeDisabled</key>
		<string>FF9090</string>
		<key>piece</key>
		<string>FFC7C7</string>
		<key>backgroundSecondary</key>
		<string>FFE3E3</string>
		<key>background</key>
		<string>FFFDFD</string>
	</dict>
	<key>Magenta</key>
	<dict>
		<key>pipeEnabled</key>
		<string>AC1A6D</string>
		<key>pipeDisabled</key>
		<string>EB85BE</string>
		<key>piece</key>
		<string>FFC7E7</string>
		<key>backgroundSecondary</key>
		<string>FFE3F3</string>
		<key>background</key>
		<string>FFFDFE</string>
	</dict>
	<key>Purple</key>
	<dict>
		<key>pipeEnabled</key>
		<string>661C8F</string>
		<key>pipeDisabled</key>
		<string>BC82DD</string>
		<key>piece</key>
		<string>ECCAFF</string>
		<key>backgroundSecondary</key>
		<string>F6E5FF</string>
		<key>background</key>
		<string>FEFDFF</string>
	</dict>
	<key>Indigo</key>
	<dict>
		<key>pipeEnabled</key>
		<string>3F2494</string>
		<key>pipeDisabled</key>
		<string>9D89DF</string>
		<key>piece</key>
		<string>D9CDFF</string>
		<key>backgroundSecondary</key>
		<string>ECE7FF</string>
		<key>background</key>
		<string>FDFDFF</string>
	</dict>
	<key>Blue</key>
	<dict>
		<key>pipeEnabled</key>
		<string>224390</string>
		<key>pipeDisabled</key>
		<string>87A1DD</string>
		<key>piece</key>
		<string>CDDCFF</string>
		<key>backgroundSecondary</key>
		<string>E6EEFF</string>
		<key>background</key>
		<string>FDFEFF</string>
	</dict>
	<key>Teal</key>
	<dict>
		<key>pipeEnabled</key>
		<string>138181</string>
		<key>pipeDisabled</key>
		<string>79D6D6</string>
		<key>piece</key>
		<string>C7FFFF</string>
		<key>backgroundSecondary</key>
		<string>E3FFFF</string>
		<key>background</key>
		<string>FDFFFF</string>
	</dict>
	<key>Green</key>
	<dict>
		<key>pipeEnabled</key>
		<string>1AAC1A</string>
		<key>pipeDisabled</key>
		<string>85EA85</string>
		<key>piece</key>
		<string>C7FFC7</string>
		<key>backgroundSecondary</key>
		<string>E3FFE3</string>
		<key>background</key>
		<string>FDFFFD</string>
	</dict>
	<key>Lime</key>
	<dict>
		<key>pipeEnabled</key>
		<string>8FC81E</string>
		<key>pipeDisabled</key>
		<string>D4F88C</string>
		<key>piece</key>
		<string>ECFFC7</string>
		<key>backgroundSecondary</key>
		<string>F6FFE3</string>
		<key>background</key>
		<string>FEFFFD</string>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D7D420</string>
		<key>pipeDisabled</key>
		<string>FFFE90</string>
		<key>piece</key>
		<string>FFFEC7</string>
		<key>backgroundSecondary</key>
		<string>FFFFE3</string>
		<key>background</key>
		<string>FFFFFD</string>
	</dict>
	<key>Dark Yellow</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D7B720</string>
		<key>pipeDisabled</key>
		<string>FFEC90</string>
		<key>piece</key>
		<string>FFF5C7</string>
		<key>backgroundSecondary</key>
		<string>FFFAE3</string>
		<key>background</key>
		<string>FFFFFD</string>
	</dict>
	<key>Light Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D79A20</string>
		<key>pipeDisabled</key>
		<string>FFDA90</string>
		<key>piece</key>
		<string>FFECC7</string>
		<key>backgroundSecondary</key>
		<string>FFF6E3</string>
		<key>background</key>
		<string>FFFEFD</string>
	</dict>
	<key>Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D77320</string>
		<key>pipeDisabled</key>
		<string>FFC390</string>
		<key>piece</key>
		<string>FFE0C7</string>
		<key>backgroundSecondary</key>
		<string>FFF0E3</string>
		<key>background</key>
		<string>FFFEFD</string>
	</dict>
</dict>
</plist>
