<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>51344D</string>
		<string>6F5060</string>
		<string>A78682</string>
		<string>E7EBC5</string>
		<string>989788</string>
	</array>
	<array>
		<string>393A10</string>
		<string>475657</string>
		<string>4A6D7C</string>
		<string>C6C5B9</string>
		<string>62929E</string>
	</array>
	<array>
		<string>2081C3</string>
		<string>63D2FF</string>
		<string>78D5D7</string>
		<string>F7F9F9</string>
		<string>BED8D4</string>
	</array>
	<array>
		<string>56351E</string>
		<string>C47335</string>
		<string>F19953</string>
		<string>EDF7F6</string>
		<string>2660A4</string>
	</array>
	<array>
		<string>231B1B</string>
		<string>B96AC9</string>
		<string>E980FC</string>
		<string>FFD2FC</string>
		<string>DDFFF7</string>
	</array>
	<array>
		<string>7A43D8</string>
		<string>BD7BE0</string>
		<string>D6B4E8</string>
		<string>FFEAEC</string>
		<string>F2D2ED</string>
	</array>
	<array>
		<string>615D6C</string>
		<string>6F8AB7</string>
		<string>89BBFE</string>
		<string>CAE5FF</string>
		<string>ACEDFF</string>
	</array>
	<array>
		<string>4F4F4F</string>
		<string>666666</string>
		<string>A5A5A5</string>
		<string>F2F2F2</string>
		<string>DDDDDD</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
</array>
</plist>
