<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F45454</string>
		<key>pipeDisabled</key>
		<string>FF8484</string>
		<key>piece</key>
		<string>FFB7B7</string>
		<key>backgroundSecondary</key>
		<string>FFCBCB</string>
		<key>background</key>
		<string>FFDFDF</string>
	</dict>
	<key>Pink</key>
	<dict>
		<key>pipeEnabled</key>
		<string>DA4C77</string>
		<key>pipeDisabled</key>
		<string>EB799C</string>
		<key>piece</key>
		<string>F8B2C7</string>
		<key>backgroundSecondary</key>
		<string>FBC8D7</string>
		<key>background</key>
		<string>FDDDE7</string>
	</dict>
	<key>Magenta</key>
	<dict>
		<key>pipeEnabled</key>
		<string>C4448C</string>
		<key>pipeDisabled</key>
		<string>D970AB</string>
		<key>piece</key>
		<string>F2AED4</string>
		<key>backgroundSecondary</key>
		<string>F8C5E2</string>
		<key>background</key>
		<string>FCDCEE</string>
	</dict>
	<key>Red Purple</key>
	<dict>
		<key>pipeEnabled</key>
		<string>9F379F</string>
		<key>pipeDisabled</key>
		<string>BC61BC</string>
		<key>piece</key>
		<string>E8A7E8</string>
		<key>backgroundSecondary</key>
		<string>F2C0F2</string>
		<key>background</key>
		<string>F9DAF9</string>
	</dict>
	<key>Purple</key>
	<dict>
		<key>pipeEnabled</key>
		<string>7F3EA3</string>
		<key>pipeDisabled</key>
		<string>A068BF</string>
		<key>piece</key>
		<string>D3ABEA</string>
		<key>backgroundSecondary</key>
		<string>E2C4F3</string>
		<key>background</key>
		<string>EFDCFA</string>
	</dict>
	<key>Purple-Blue</key>
	<dict>
		<key>pipeEnabled</key>
		<string>6D43A5</string>
		<key>pipeDisabled</key>
		<string>916CC1</string>
		<key>piece</key>
		<string>C8AEEA</string>
		<key>backgroundSecondary</key>
		<string>D9C6F3</string>
		<key>background</key>
		<string>E9DDFA</string>
	</dict>
	<key>Indigo</key>
	<dict>
		<key>pipeEnabled</key>
		<string>5E47A8</string>
		<key>pipeDisabled</key>
		<string>8370C3</string>
		<key>piece</key>
		<string>BEB0EB</string>
		<key>backgroundSecondary</key>
		<string>D2C7F3</string>
		<key>background</key>
		<string>E4DEFA</string>
	</dict>
	<key>Blue</key>
	<dict>
		<key>pipeEnabled</key>
		<string>4C4CAB</string>
		<key>pipeDisabled</key>
		<string>7474C5</string>
		<key>piece</key>
		<string>B3B3EC</string>
		<key>backgroundSecondary</key>
		<string>C9C9F4</string>
		<key>background</key>
		<string>DFDFFA</string>
	</dict>
	<key>Royal Blue</key>
	<dict>
		<key>pipeEnabled</key>
		<string>4461A3</string>
		<key>pipeDisabled</key>
		<string>6D86BF</string>
		<key>piece</key>
		<string>AEC0EA</string>
		<key>backgroundSecondary</key>
		<string>C6D4F3</string>
		<key>background</key>
		<string>DDE6FA</string>
	</dict>
	<key>Teal</key>
	<dict>
		<key>pipeEnabled</key>
		<string>3D739D</string>
		<key>pipeDisabled</key>
		<string>6696BA</string>
		<key>piece</key>
		<string>AACDE8</string>
		<key>backgroundSecondary</key>
		<string>C3DEF2</string>
		<key>background</key>
		<string>DCECF9</string>
	</dict>
	<key>Cyan</key>
	<dict>
		<key>pipeEnabled</key>
		<string>339292</string>
		<key>pipeDisabled</key>
		<string>5CB2B2</string>
		<key>piece</key>
		<string>A4E5E5</string>
		<key>backgroundSecondary</key>
		<string>BFF0F0</string>
		<key>background</key>
		<string>D9F8F8</string>
	</dict>
	<key>Blue Green</key>
	<dict>
		<key>pipeEnabled</key>
		<string>3AA778</string>
		<key>pipeDisabled</key>
		<string>65C39A</string>
		<key>piece</key>
		<string>A8EBCE</string>
		<key>backgroundSecondary</key>
		<string>C2F3DE</string>
		<key>background</key>
		<string>DAFAEC</string>
	</dict>
	<key>Green</key>
	<dict>
		<key>pipeEnabled</key>
		<string>44C344</string>
		<key>pipeDisabled</key>
		<string>70D970</string>
		<key>piece</key>
		<string>ADF2AD</string>
		<key>backgroundSecondary</key>
		<string>C5F8C5</string>
		<key>background</key>
		<string>DCFCDC</string>
	</dict>
	<key>Grass</key>
	<dict>
		<key>pipeEnabled</key>
		<string>8CD94B</string>
		<key>pipeDisabled</key>
		<string>ACEA79</string>
		<key>piece</key>
		<string>D1F8B2</string>
		<key>backgroundSecondary</key>
		<string>DFFBC8</string>
		<key>background</key>
		<string>ECFDDD</string>
	</dict>
	<key>Light Green</key>
	<dict>
		<key>pipeEnabled</key>
		<string>B2E44F</string>
		<key>pipeDisabled</key>
		<string>CBF27D</string>
		<key>piece</key>
		<string>E3FBB4</string>
		<key>backgroundSecondary</key>
		<string>EBFDC9</string>
		<key>background</key>
		<string>F3FEDE</string>
	</dict>
	<key>Yellow Green</key>
	<dict>
		<key>pipeEnabled</key>
		<string>D1EB52</string>
		<key>pipeDisabled</key>
		<string>E4F881</string>
		<key>piece</key>
		<string>F0FDB5</string>
		<key>backgroundSecondary</key>
		<string>F5FECA</string>
		<key>background</key>
		<string>F9FEDE</string>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4F454</string>
		<key>pipeDisabled</key>
		<string>FFFF84</string>
		<key>piece</key>
		<string>FFFFB7</string>
		<key>backgroundSecondary</key>
		<string>FFFFCB</string>
		<key>background</key>
		<string>FFFFDF</string>
	</dict>
	<key>Yellow Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4E554</string>
		<key>pipeDisabled</key>
		<string>FFF484</string>
		<key>piece</key>
		<string>FFF8B7</string>
		<key>backgroundSecondary</key>
		<string>FFFACB</string>
		<key>background</key>
		<string>FFFCDF</string>
	</dict>
	<key>Sun</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4D954</string>
		<key>pipeDisabled</key>
		<string>FFEA84</string>
		<key>piece</key>
		<string>FFF3B7</string>
		<key>backgroundSecondary</key>
		<string>FFF6CB</string>
		<key>background</key>
		<string>FFF9DF</string>
	</dict>
	<key>Sunset</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4CC54</string>
		<key>pipeDisabled</key>
		<string>FFE084</string>
		<key>piece</key>
		<string>FFEDB7</string>
		<key>backgroundSecondary</key>
		<string>FFF2CB</string>
		<key>background</key>
		<string>FFF7DF</string>
	</dict>
	<key>Light Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4BF54</string>
		<key>pipeDisabled</key>
		<string>FFD684</string>
		<key>piece</key>
		<string>FFE7B7</string>
		<key>backgroundSecondary</key>
		<string>FFEECB</string>
		<key>background</key>
		<string>FFF4DF</string>
	</dict>
	<key>Brown</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F4B054</string>
		<key>pipeDisabled</key>
		<string>FFCA84</string>
		<key>piece</key>
		<string>FFE0B7</string>
		<key>backgroundSecondary</key>
		<string>FFE9CB</string>
		<key>background</key>
		<string>FFF1DF</string>
	</dict>
	<key>Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F49D54</string>
		<key>pipeDisabled</key>
		<string>FFBC84</string>
		<key>piece</key>
		<string>FFD7B7</string>
		<key>backgroundSecondary</key>
		<string>FFE2CB</string>
		<key>background</key>
		<string>FFEDDF</string>
	</dict>
	<key>Red Orange</key>
	<dict>
		<key>pipeEnabled</key>
		<string>F48254</string>
		<key>pipeDisabled</key>
		<string>FFA784</string>
		<key>piece</key>
		<string>FFCBB7</string>
		<key>backgroundSecondary</key>
		<string>FFDACB</string>
		<key>background</key>
		<string>FFE8DF</string>
	</dict>
</dict>
</plist>
