<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>51344D</string>
		<string>6F5060</string>
		<string>A78682</string>
		<string>E7EBC5</string>
		<string>989788</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
	<array>
		<string>8490A3</string>
		<string>93B58B</string>
		<string>86D68C</string>
		<string>F5FFF4</string>
		<string>BBEACA</string>
	</array>
</array>
</plist>
